@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn {
    @apply px-4 py-2 bg-blue-600 text-white rounded;
  }
} */

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-2xl;
  }
}

html {
  background-image: url('https://i.ibb.co/jv6BxYF/rediqlbg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: #f9ed92; */
  background-color: #021220;
}

body {
  /* background-color: #231444; */
  /* background-color: #182854; */
  /* background: rgb(41, 62, 86); */

  color: azure;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fe1bbf;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fe1bbf;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
